
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">Flower</h2>
                    <h5 class="text-white op-7 mb-2">Home/Admin/Bouqueti</h5>
                </div>
                <div class="ml-md-auto py-2 py-md-0">
                    <a href="#" class="btn btn-white btn-border btn-round mr-2">Manage</a>
                    <a href="#" class="btn btn-secondary btn-round" data-toggle="modal" data-target="#addModal" onclick="openAddModal()">Add new</a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row mt--2">
            <div class="col-md-12">
                <div class="card full-height">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive table-hover table-sales">
                                    <table id="table_bouqueti" class="display">
                                        <thead>
                                            <tr>
                                                <th>Id</th>
                                                <th>Name</th>
                                                <th>Image</th>
                                                <th>Price</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var f in @ViewBag.ListBouqueti)
                                            {
                                                <tr>
                                                    <td>@f.BouquetiId</td>
                                                    <td>@f.BouquetiName</td>
                                                    <td><img src="@f.Image" alt="Alternate Text" width="50" height="50" /></td>
                                                    <td>@f.Price $</td>
                                                    @if (f.Status == 1)
                                                    {
                                                        <td style="color: lawngreen">Selling</td>

                                                    }
                                                    @if (f.Status == 2)
                                                    {
                                                        <td style="color: yellow">Added to Cart</td>

                                                    }
                                                    @if (f.Status == 2)
                                                    {
                                                        <td style="color: red">Delivering</td>

                                                    }
                                                    <td>
                                                        <button class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#addModal" style="margin-right: 5px;" onclick="openUpdateModal(@f.BouquetiId)">
                                                            <i class="fas fa-edit"></i>
                                                        </button>
                                                        <button class="btn btn-outline-danger btn-sm" onclick="openDeleteModal(@f.BouquetiId)" data-toggle="modal" data-target="#deleteModal">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputEmail4">Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Name">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inputEmail4">Price</label>
                                <input type="text" class="form-control" id="price" placeholder="Price">
                            </div>
                            <div class="form-group col-md-12">
                                <label for="inputEmail4">Image</label>
                                <input type="text" class="form-control" id="image" placeholder="Image (input link)">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submit()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete this record</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h2 style="text-align:center">Are you sure want to delete this record ??</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="deleteItem()">Confirm</button>
            </div>
        </div>
    </div>
</div>

<script>
    var id_record = 0;
    var dataUpdate = {};
    var status = 1;

    openAddModal = () => {
        id_record = 0;
        $('#name').val('');
        $('#price').val('');
        $('#image').val('');
        status = 1;
    };

    // Example POST method implementation:
    async function postData(url = '', data = {}) {
        // Default options are marked with *
        const response = await fetch(url, {
            method: 'POST', // *GET, POST, PUT, DELETE, etc.
            mode: 'cors', // no-cors, *cors, same-origin
            cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
            credentials: 'same-origin', // include, *same-origin, omit
            headers: {
                'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
            },
            redirect: 'follow', // manual, *follow, error
            referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
            body: JSON.stringify(data) // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
    }

    $(document).ready(function () {
        $('#table_bouqueti').DataTable();
    });

    submit = () => {
        var req = {
            BouquetiId: id_record,
            BouquetiName: $('#name').val(),
            Price: $('#price').val(),
            Image: $('#image').val(),
            Status: status
        }
        postData('/Bouqueti/Save', req)
            .then((data) => {
                if (data.success) {
                    toastr.success('Successfully !');
                    $('.modal').modal('hide');
                    window.location.reload();
                }
                else {
                    toastr.warning('Failed !');
                    $('.modal').modal('hide');
                }
            });
    }

    openDeleteModal = (id) => {
        id_record = id;
    }

    openUpdateModal = (id) => {
        id_record = id;
        $.ajax({
            url: '/Bouqueti/FindById?BouquetiId=' + id,
            type: 'GET',
            success: function (result) {
                if (result.success) {
                    $('#name').val(result.data.BouquetiName);
                    $('#price').val(result.data.Price);
                    $('#image').val(result.data.Image);
                    status = result.data.Status;
                }
                else {
                    toastr.warning('Failed !');
                    $('.modal').modal('hide');
                }
            }
        });
    }

    deleteItem = () => {
        $.ajax({
            url: '/Bouqueti/Delete?BouquetiId=' + id_record,
            type: 'DELETE',
            success: function (result) {
                if (result.success) {
                    toastr.success('Successfully !');
                    $('.modal').modal('hide');
                    window.location.reload();
                }
                else {
                    toastr.warning('Failed !');
                    $('.modal').modal('hide');
                }
            }
        });
    }

</script>
